{% extends 'default/index.html.twig' %}

{% block body %}


    <!--Change the background class to alter background image, options are: benches, boots, buildings, city, metro -->
    <div id="background-wrapper" class="buildings" data-stellar-background-ratio="0.8">
      
      <!-- ======== @Region: #navigation ======== -->
          <div id="navigation" class="wrapper">

            <!--Header & navbar-branding region-->
            <div class="header">
              <div class="header-inner container">
                <div class="row">
                  <div class="col-md-8">
                    <!--navbar-branding/logo - hidden image tag & site name so things like Facebook to pick up, actual logo set via CSS for flexibility -->
                    <a class="navbar-brand " href="{{ url('homepage') }}" title="Home">
                      <h1 class="navbar-brand">
                        <img src="{{ asset('assets/img/logo-blue.png') }}" alt="HackHub Logo">
                      </h1>
                    </a>
                    <div class="navbar-slogan">
                      Socialnetwork
                      <br> For Hackathons
                    </div>
                  </div>
                  <!--header rightside-->
                  <div class="col-md-4">
                    <!--user menu-->
                    <ul class="list-inline user-menu pull-right">
                      <li class="hidden-xs">
                        <i class="fa fa-edit text-primary"></i>
                        <a href="{{ url('webapp_user_register') }}" class="text-uppercase">Register</a>
                      </li>
                      <li class="hidden-xs">
                        <i class="fa fa-sign-in text-primary"></i>
                        <a href="{{ url('webapp_user_login') }}" class="text-uppercase">Login</a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="navbar navbar-default">
                <!--mobile collapse menu button-->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar"></span>
                  </button>
                  <div class="navbar-brand navbar-brand-centered">
                      <a href="{{ url('homepage') }}" title="Home"></a> 
                 </div>

                </div>

                <!--social media icons-->
                <div class="navbar-text social-media social-media-inline pull-right">
                  <!--@todo: replace with company social media details-->
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>

                <!--everything within this div is collapsed on mobile-->
                <div id="header" class="navbar-collapse collapse ">
                  <div  id="main-menu">
                      <ul class="nav navbar-nav">
                          <li>
                              <a href="{{ url('webapp_project_homepage') }}" > Explore</a>
                          </li>
                          <li>
                              <a href="{{ url('webapp_project_add') }}" >Start a Hackathon</a>
                          </li>

                      </ul>

                      <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown dropdown-mm">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search
                                  <b class="fa fa-search"></b>
                                </a>
                                <!-- Dropdown Menu -->
                            <div class="dropdown-menu dropdown-menu-mm dropdown-menu-persist">
                              <div class="row ">
                                  <div class="col-md-10">
                                      <input  placeholder="Hackathon,City,Username..."/>
                                      <a routerLink="{{ url('homepage') }}"><i class="fa fa-search"></i></a>

                                  </div>
                                </div>
                            </div>
                          </li>

                        <li class="hidden dropdown ">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Template Dropdown
                            <b class="caret"></b>
                          </a>
                          <!-- Dropdown Menu -->
                          <ul class="dropdown-menu">
                            <li class="dropdown-header">Flexor Version Pages</li>
                            <li>
                              <a href="elements.html" tabindex="-1" class="menu-item">Elements</a>
                            </li>
                            <li>
                              <a href="about.html" tabindex="-1" class="menu-item">About / Inner Page</a>
                            </li>
                            <li>
                              <a href="login.html" tabindex="-1" class="menu-item">Login</a>
                            </li>
                            <li>
                              <a href="register.html" tabindex="-1" class="menu-item">Sign-Up</a>
                            </li>
                            
                          </ul>
                        </li>

                        <li class="hidden dropdown dropdown-mm">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mega Menu
                            <b class="caret"></b>
                          </a>
                          <!-- Dropdown Menu -->
                          <ul class="dropdown-menu dropdown-menu-mm dropdown-menu-persist">
                            <li class="row">
                              <ul class="col-md-6">
                                <li class="dropdown-header">Websites and Apps</li>
                                <li>
                                  <a href="#">Analysis and Planning</a>
                                </li>
                                <li>
                                  <a href="#">User Experience / Information Architecture</a>
                                </li>
                                <li>
                                  <a href="#">User Interface Design / UI Design</a>
                                </li>
                                <li>
                                  <a href="#">Code &amp; Development / Implementation &amp; Support</a>
                                </li>
                              </ul>
                              <ul class="col-md-6">
                                <li class="dropdown-header">Enterprise solutions</li>
                                <li>
                                  <a href="#">Business Analysis</a>
                                </li>
                                <li>
                                  <a href="#">Custom UX Consulting</a>
                                </li>
                                <li>
                                  <a href="#">Quality Assurance</a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>

                      </ul>
                  </div>
                </div>
                <!--/.navbar-collapse -->

              </div>
            </div>
          </div>
          
    </div>
    
    <!-- ======== @Region: #content ======== -->
    <div id="content">
      <div class="container" id="about">
        <div class="row">
          <!--main content-->
          <div class="col-md-9 col-md-push-3">
            <div class="page-header">
              <h1>
                About Us 
                <small>How it all began</small>
              </h1>
            </div>
            <div class="block block-border-bottom-grey block-pd-sm">
              <h3 class="block-title">
                What Makes Us Tick!
              </h3>
              <img src="img/misc/about-us.png" alt="About us" class="img-responsive img-thumbnail pull-right m-l m-b">
              <p>Elit pellentesque dolor facilisis aenean eu tempor, phasellus lundium risus dolor, augue, ridiculus nascetur odio ridiculus? Hac ac, adipiscing ut dapibus. Adipiscing cras in? Magna nisi augue odio! Pellentesque magnis? Lacus integer magnis purus sed mus lorem aliquam lectus, placerat pellentesque quis, nunc urna turpis lorem. Etiam velit, augue sed magnis placerat! In cras, dignissim lorem, porttitor in velit in, nisi vut a cursus cum, odio sagittis nisi turpis? Mus penatibus non, pulvinar porttitor arcu hac ut et ac integer? Ultricies est etiam sit. Urna ridiculus facilisis pulvinar, ultrices augue? Parturient velit non tincidunt sit sagittis pulvinar phasellus rhoncus hac! Sit porta. Tristique, hac. Porttitor adipiscing ac. Ac tincidunt a porttitor natoque auctor ultricies! Proin nunc scelerisque? Habitasse adipiscing? Cursus.</p>
              <p>Elit pellentesque dolor facilisis aenean eu tempor, phasellus lundium risus dolor, augue, ridiculus nascetur odio ridiculus? Hac ac, adipiscing ut dapibus. Adipiscing cras in? Magna nisi augue odio! Pellentesque magnis? Lacus integer magnis purus sed mus lorem aliquam lectus, placerat pellentesque quis, nunc urna turpis lorem. Etiam velit, augue sed magnis placerat! In cras, dignissim lorem, porttitor in velit in, nisi vut a cursus cum, odio sagittis nisi turpis? Mus penatibus non, pulvinar porttitor arcu hac ut et ac integer? Ultricies est etiam sit. Urna ridiculus facilisis pulvinar, ultrices augue? Parturient velit non tincidunt sit sagittis pulvinar phasellus rhoncus hac! Sit porta. Tristique, hac. Porttitor adipiscing ac. Ac tincidunt a porttitor natoque auctor ultricies! Proin nunc scelerisque? Habitasse adipiscing? Cursus.</p>
            </div>
            <div class="block-highlight block-pd-h block-pd-sm">
              <h3 class="block-title">
                Our Mission
              </h3>
              <p class="text-fancy">Vel in amet mauris? Turpis pulvinar a proin tincidunt pid, vel odio lundium sit, cras. Duis mattis porttitor nunc elementum eros, in turpis nec. Lectus dictumst risus ut ac porta, urna ac vel, a ut dis!</p>
            </div>
            <div class="block">
              <h3 class="block-title">
                Vital Stats
              </h3>
              <div class="row">
                <div class="col-md-4">
                  <div class="stat">
                    <span data-counter-up>1000</span>s
                    <small>Happpy Customers</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="stat">
                    <span data-counter-up>163</span>+
                    <small>GB Transfered</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="stat">
                    <span data-counter-up>214</span>
                    <small>Bugs Fixed</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- sidebar -->
          <div class="col-md-3 col-md-pull-9 sidebar visible-md-block visible-lg-block">
            <ul class="nav nav-pills nav-stacked">
              <li class="active">
                <a href="about.html" class="first">
                  About Us 
                  <small>How It All Began</small>
                </a>
              </li>
              <li>
                <a href="#">
                  The Team 
                  <small>Our team of stars</small>
                </a>
              </li>
              <li>
                <a href="#">
                  Contact Us
                  <small>How to get in touch</small>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Call out block -->
    <div class="block block-bg-primary block-bg-overlay block-bg-overlay-5 text-center" data-block-bg-img="https://picjumbo.imgix.net/HNCK8991.jpg?q=40&amp;w=1650&amp;sharp=30" data-stellar-background-ratio="0.3">
      <h2 class="m-t-0">
        Be part of our amazing team!
      </h2>
      <p class="m-a-0">
        <a href="#" class="btn btn-more btn-lg i-right">We're Hiring <i class="fa fa-angle-right"></i></a>
      </p>
    </div>
    <!-- Call out block -->
    <div class="block block-pd-sm block-bg-primary">
      <div class="container">
        <div class="row">
          <h3 class="col-md-4">
            Some of our Clients
          </h3>
          <div class="col-md-8">
            <div class="row">
              <!--Client logos should be within a 120px wide by 60px height image canvas-->
              <div class="col-xs-6 col-md-2">
                <a href="https://bootstrapmade.com" title="Client 1">
                  <img src="img/clients/client1.png" alt="Client 1 logo" class="img-responsive">
                </a>
              </div>
              <div class="col-xs-6 col-md-2">
                <a href="https://bootstrapmade.com" title="Client 2">
                  <img src="img/clients/client2.png" alt="Client 2 logo" class="img-responsive">
                </a>
              </div>
              <div class="col-xs-6 col-md-2">
                <a href="https://bootstrapmade.com" title="Client 3">
                  <img src="img/clients/client3.png" alt="Client 3 logo" class="img-responsive">
                </a>
              </div>
              <div class="col-xs-6 col-md-2">
                <a href="https://bootstrapmade.com" title="Client 4">
                  <img src="img/clients/client4.png" alt="Client 4 logo" class="img-responsive">
                </a>
              </div>
              <div class="col-xs-6 col-md-2">
                <a href="https://bootstrapmade.com" title="Client 5">
                  <img src="img/clients/client5.png" alt="Client 5 logo" class="img-responsive">
                </a>
              </div>
              <div class="col-xs-6 col-md-2">
                <a href="https://bootstrapmade.com" title="Client 6">
                  <img src="img/clients/client6.png" alt="Client 6 logo" class="img-responsive">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- ======== @Region: #footer ======== -->
    <footer id="footer" class="block block-bg-grey-dark" data-block-bg-img="img/bg_footer-map.png" data-stellar-background-ratio="0.4">
      <div class="container">
        <a href="#top" class="scrolltop">Top</a> 
        <div class="row" id="contact">
          
          <div class="col-md-3">
            <address>
              <strong>Heavenerd Inc</strong>
              <br>
              <i class="fa fa-map-pin fa-fw text-primary"></i> Ariana , Sfax
              <br>
              <i class="fa fa-phone fa-fw text-primary"></i> 21058929
              <br>
              <i class="fa fa-envelope-o fa-fw text-primary"></i> info@heavenerd.com
              <br>
            </address>
          </div>
          
          <div class="col-md-6">
            <h4 class="text-uppercase">
              Contact Us
            </h4>
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                  </div>
                  <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>
          
          <div class="col-md-3">
            <h4 class="text-uppercase">
              Follow Us On:
            </h4>
            <!--social media icons-->
            <div class="social-media social-media-stacked">
              <!--@todo: replace with company social media details-->
              <a href="#"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
              <a href="#"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
              <a href="#"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
              <a href="#"><i class="fa fa-google-plus fa-fw"></i> Google+</a>
            </div>
          </div>
          
        </div>
        <div class="row subfooter">
          <!--@todo: replace with company copyright details-->
          <div class="col-md-7">
            <p>Copyright ©  Heavenerd</p>
            <div class="credits">
            <span class="footer-quote"> © 2017 , Made with ❤ by <a href="https://www.facebook.com/BACHIRBOOBA" target="blank">HEAVENERD</a> </span>

            </div>
          </div>
          <div class="col-md-5">
            <ul class="list-inline pull-right">
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    

{% endblock %}




